.box-card-Service{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;

}

.box-card-Service h2{
  color: black;
  text-align: center;
  font-size: 24px;
}
.servicesItems{
  display: none;
}

.arrow-contains{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0px 15px 0px;
  justify-content: center;
  border-top: 1px solid gray;
}

.box-card-Service ul li{
  font-family: 'Roboto';
}

