.izq-ab h2 {
  font-family: "Oswald";
  font-size: 34px;
  margin-bottom: 0px;
}
.izq-ab p {
  font-family: "Roboto";
}
.izq-ab {
  width: 50%;
}
.About-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cent-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 20px;
}
.der-ab {
  width: 50%;
  display: flex;
  justify-content: end;
}

.imgAb-c {
  width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 550px;
  width: 450px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url("/images/Rectangle-21.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.div2 {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url("/images/Rectangle-22.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 100px;
}
.div3 {
  grid-area: 2 / 2 / 4 / 3;
  background-image: url("/images/Rectangle-23.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 100px 0px;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("/images/Rectangle-20.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.About-section {
  padding: 100px 0px 100px 0px;
}
.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 851px) {
  .Cent-about {
    flex-direction: column;
  }
  .der-ab {
    width: 100%;
    justify-content: center;
  }
  .izq-ab {
    width: 100%;
  }
}
